
/* Layout */
/*
#page-wrap                          { width:1024px; margin:0 auto; }
#page-sidebar                       { background:#00008f; width:121px; padding:14px; position:fixed; color:#fff; }
#page-content                       { width:875px; margin-left:149px; }

#page-logo                          { margin-bottom:35px; }
#page-logo a                        { display:block; width:122px; height:75px; background:url(../img/logo.gif) no-repeat; text-indent:-99999px; }
*/

/* General */
.scroll-page                         { background:#f0f1f2; color:#fff; font-family:Helvetica, Arial, sans-serif; font-size:14px; line-height:18px; margin:0; padding:0; min-width:1500px; }
.scroll-page h1,
.scroll-page h2,
.scroll-page h3,
.scroll-page h4,
.scroll-page h5,
.scroll-page h6                      { margin-top:0; font-family:'Adelle', serif; font-weight:normal; color:#fff; line-height:1em; }

.scroll-page h1                      { font-size:34px; margin-bottom:2px; }
.scroll-page h2                      { font-size:26px; font-weight:700; margin-bottom:2px; text-transform: uppercase; }
.scroll-page h3                      { font-size:19px; font-weight:600; }
.scroll-page h4                      { font-size:15px; font-weight:bold; }
.scroll-page h5                      { font-size:13px; font-weight:bold; }


/*p                                   { margin-top:18px; }*/
a                                   { text-decoration:None; }
strong                              { font-weight:bold; }

.fl                                 { float:left; }
.fr                                 { float:right; }
.clear                              { clear:both; }
.image-center                       { margin:auto; }
.newrow                             { margin-left:0px !important; }

/* Feature-specific */

.scroll                             { }
.scroll-sect                        { width:1200px; height:608px; margin-bottom:20px; overflow:hidden; background:#fff; }
.scroll-sect:before,
.scroll-sect:after                  { display:table; content:""; zoom:1; }
.scroll-sect:after                  { clear:both; }

.scroll-sect-content                { margin-left:0px; width:1200px; height:568px; overflow:hidden; position:relative; }

.scroll-sect-footer                 { width:1200px; padding: 10px 10px; height:18px; color:#333; position:relative; border-top:1px solid #000; text-transform:uppercase;
                                      font-family:Helvetica, Arial, sans-serif; font-size:18px; font-weight: bold; font-stretch: condensed;
                                    }

.scroll-sect-footer ul              { margin:0; padding:0; margin-top:-1px; }
.scroll-sect-footer li              { margin:0; padding:0; display:block; float:left; margin-left:7px; }
.scroll-sect-footer li a            { color:#fff; text-decoration:none; text-indent:-99999px; display:block; padding:5px 0; outline:0; /* Padding provides a larger click target. */ }
.scroll-sect-footer li a span        { display:block; width:12px; height:12px; background:url(../img/page_not_selected.png) no-repeat; }
.scroll-sect-footer li a:hover span  { display:block; width:12px; height:12px; background:url(../img/page_selected.png) no-repeat; }
.scroll-sect-footer li a.active span { display:block; width:12px; height:12px; background:url(../img/page_selected.png) no-repeat; }

.scroll-sect-footer:after           { content:""; display:block; width:50px; height:50px; position:absolute; top:-50px; left:284px; background:url(../img/section_arrow.png) no-repeat; }


.scroll-page                        { width:1200px; height:568px; float:left; margin-right:0px; overflow:hidden; }
.scroll-page-inner                  { margin:-100px -80px; padding:100px 80px; width:415px; height:368px; padding-right:380px; }

/* XXX */
.scroll-sect-title                  { margin-left: 297px; }

/* White text selection has been depreciated */
/*
#content .scroll-page .white-text            { color:#fff; }
#content .scroll-page .white-text h1,
#content .scroll-page .white-text h2,
#content .scroll-page .white-text h3,
#content .scroll-page .white-text h4,
#content .scroll-page .white-text h5         { color:#fff; border-color:#fff; }
*/

/* Content Layout */
.content-left                       { width:282px; padding:0px; float:left; margin-left:14px; }
.content-left:first                 { margin-left:0px; }
.content-left-wide                  { width:578px; padding:0px; float:left; }
.content-right-wide                 { width:578px; padding:0px; float:right; }
.content-full-width                 { width:874px; padding:0px; }

/* Content Layout dark backgrounds - padded */
.content-padded                     { padding:0 14px 0 14px; }
.content-padded .content-left       { width:272px; padding:0px; float:left; margin-left:14px; }
.content-padded .content-left:first { margin-left:0px; }
.content-padded .content-left-wide  { width:578px; padding:0px; float:left; }
.content-padded .content-right-wide { width:578px; padding:0px; float:right; }
.content-padded .content-full-width { width:846px; padding:0px; }

.scroll-page .content-left,
.scroll-page .content-left-wide,
.scroll-page .content-right-wide,
.scroll-page .content-full-width { background:none; }

.featured-pages                     { width:910px; position:absolute; top:284px; }
.featured-pages div.fl              { width:282px; height:224px; margin-bottom:30px; margin-left:25px; }
.featured-title                     { width:250px; height:50px; position:relative; top:-224px; padding:14px 16px 0 16px; 
                                      background: rgba(236, 236, 236, 0.8);
                                      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ccececec',EndColorStr='#ccececec');
                                    }

.featured-pages a                   { color:#333; font-family: 'Adelle',serif; }

.contactpage                        { background:#666; }
.contactpage div.fl                 { width:180px; margin:65px 11px 11px 100px; }
.contactpage div.fl.social          { width:239px; margin-right:8px; }
.contactpage .location              { margin-bottom: 50px; }
.contactpage div.fl p               { margin: 0 0 0 0; }
.contactpage div.fl a               { display:block; }
.contactpage table                  { width:100%; }
.contactpage table.invisible td,
.contactpage table.invisible th     { padding:0 10px 0 0; }

.contactpage .social h3             { margin-top:3px; }
.contactpage #contact-form          { margin-bottom:30px; }
.contactpage input,
.contactpage textarea               { width:95%; margin:2px; resize:none; border:2px solid #000;}
/*.contactpage h2,
.contactpage h3                     { color:#ccc; }
.scroll-page .contactpage h2        { border-bottom:1px solid #000; }*/
.contactpage label                  { color:#000; }

.contactpage .social h3             { width:90%; }
.contactpage .social p              { width:90%; }
.social h3                          { margin-bottom:9px; }
.social a                           { color:#000; font-weight:bold; }
.social a:hover                     { color:#00008F; }
.social a:active                    { color:#00aeff; }

/* Typography */
.scroll-page h2,
.scroll-page h3,
.scroll-page p,
.scroll-page ul                     { padding:8px 15px 15px 15px; 
                                      background: none;
                                    }

.scroll-page .text-background h2,
.scroll-page .text-background h3,
.scroll-page .text-background p,
.scroll-page .text-background ul    { background: rgba(60, 60, 60, 0.7);
                                      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#B23C3C3C', endColorstr='#B23C3C3C'); /* IE 7/8 as rgba not supported */
                                      zoom: 1; /* IE 7/8 rgba not supported */
                                    }

.scroll-page h3                     { width:80%; color:#e7ad47; }
.scroll-page p,
.scroll-page ul                     { width:80%; }
.scroll-page ul li                  { list-style: outside; list-style-type: square; margin-left: 18px; }
.scroll-page ol li                  { list-style: outside; list-style-type: decimal; margin-left: 18px; }
.scroll-page .pullquote             { width:35%; margin:0 0 0.5em 1em; float:right; clear:right; font-weight:bold; font-size:125%; }
.scroll-page .callout               { background:#eee; border-left:1em solid #ccc; clear:both; padding:1em; }
.scroll-page .discreet              { color:#666; font-size:85%; font-weight:normal; }
.scroll-page .visualHighlight       { color:#e7ad47; }
.scroll-page table th               { font-weight:bold; }

.scroll-page a                      { color:#e7ad47; }

/* Page Layout exceptions */
div.homepage                        { padding-top:35px !important; }
div.linkspage .featured-pages       { top: 40px; }

/* Admin specific */
.portletTCAANavigation              { display:none; }

#content .scroll-page p             { margin-bottom: 0; }
#content .scroll-sect-footer a:link { border-bottom: none; }

#content .scroll-page a:link        { border-bottom: none; }
#content .scroll-page a,
#content .scroll-page a:active,
#content .scroll-page a:hover,
#content .scroll-page a:visited     { color:#e7ad47; }
#content ul                         { margin-left:0; }
#content .visualHighlight           { color:#e7ad47; background:none; }
#content .featured-pages a          { color:#333; font-family: 'Adelle',serif; }
#content .scroll-page li            {  line-height:1em; }

/* tinymce */
.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6                  { color: #000; margin-top:0; font-family:'Adelle', serif; font-weight:normal; line-height:1em; background:#f5f5f5; }

.mceContentBody h1                  { font-size:34px; margin-bottom:2px; }
.mceContentBody h2                  { font-size:26px; font-weight:700; margin-bottom:2px; text-transform: uppercase; }
.mceContentBody h3                  { font-size:19px; font-weight:600; }
.mceContentBody h4                  { font-size:15px; font-weight:bold; }
.mceContentBody h5                  { font-size:13px; font-weight:bold; }

.mceContentBody p,
.mceContentBody ul                  { background:#f5f5f5; margin-bottom:0px; }

.mceContentBody ul li               { list-style: outside; list-style-type: square; margin-left: 18px; }
.mceContentBody ol li               { list-style: outside; list-style-type: decimal; margin-left: 18px; }

.mceContentBody .content-left,
.mceContentBody .content-left-wide,
.mceContentBody .content-right-wide,
.mceContentBody .content-full-width { background:none; }

.content-left,
.content-left-wide,
.content-right-wide,
.content-full-width { background:#eee; }
