
body                                { background:#f0f1f2; color:#555; font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:18px; margin:0; padding:0; }


/* Layout */

#page-wrap                          { width:1024px; margin:0 auto; }
#page-sidebar                       { width:120px; padding:5px 30px 0 30px; position:fixed; color:#555; background:#fff;
                                      box-shadow:rgba(0,0,0,0.2) 5px -3px 6px;
                                      -webkit-box-shadow:rgba(0,0,0,0.2) 5px -3px 6px;
                                      -moz-box-shadow:rgba(0,0,0,0.2) 5px -3px 6px; }

/*#page-sidebar                       { width:135px; height:100%; padding:14px 14px 0 0; position:fixed; color:#555; } */
#page-content                       { width:908px; margin-left:180px; }

#page-logo                          { margin-bottom:0 }
#page-logo a                        { display:block; width:122px; height:75px; background:url(../img/logo.gif) no-repeat; text-indent:-99999px; }

#page-menu                          { border-top:2px solid #000; padding-top:10px; }
#page-menu ul                       { margin-left:0; padding-left:0; list-style-type:none; }
#page-menu li                       { margin:3px 0; font-size:17px; } 
#page-menu li a                     { color:#000; text-decoration:none; outline:0;}
#page-menu li a:hover               { color:#282971; }
/*#page-menu li.active a              { color:#666; } */

#page-menu ul.sub                   { margin-top:3px; margin-left: 2px; display:none; }
#page-menu ul.sub li                { margin:13px; font-size:11px; line-height:12px; }
#page-menu li.active ul.sub         { display:block; }

#page-twitter                       { border-top:2px solid #000; margin-top:20px; padding-top:20px; }
#page-twitter h2                    { font-size:12px; margin:0; margin-bottom:6px; color:#000; }
#page-twitter span                  { font-size:12px; line-height:16px; margin:0; display:block; }
#page-twitter a                     { color:#00aeff; }

#page-channels                      { margin:8px -30px 0 -30px; padding:8px 10px; background:#d1d1d1; }
#page-channels ul                   { margin:0; padding:0; }
#page-channels li                   { display:inline-block; margin-left:18px; }
#page-channels li a                 { display:block; width:25px; height:25px; text-indent:-99999px; outline:0; }
#page-channels li.channel-email a      { background:url(../img/icons/email.gif) no-repeat; }
#page-channels li.channel-facebook a   { background:url(../img/icons/facebook.gif) no-repeat; }
#page-channels li.channel-twitter a    { background:url(../img/icons/twitter.gif) no-repeat; }


/* General */

h1, h2, h3, h4, h5, h6              { margin-top:0; font-family:'Droid Serif', serif; font-weight:normal; color:#808080; line-height:1em; }
h1                                  { font-size:34px; margin-bottom:20px; }
h2                                  { font-size:24px; margin-bottom:20px; }
h3                                  { font-size:18px; font-weight:bold; }
h4                                  { font-size:15px; font-weight:bold; }
h5                                  { font-size:13px; font-weight:bold; }

p                                   { margin:18px 0 10px 0; }
a                                   { text-decoration:None; }
strong                              { font-weight:bold; }

.fl                                 { float:left; }
.fr                                 { float:right; }
.clear                              { clear:both; }
.visualClear                        { clear:both; }
.image-center                       { margin:auto; }
.newrow                             { margin-left:0px !important; }

/* Feature-specific */

.scroll                             { }
.scroll-sect                        { width:875px; height:608px; padding:17px 16px 0 17px; margin-bottom:20px; overflow:hidden; background:#fff; }
.scroll-sect:before,
.scroll-sect:after                  { display:table; content:""; zoom:1; }
.scroll-sect:after                  { clear:both; }

.scroll-sect-content                { height:568px; overflow:hidden; position:relative; }

.scroll-sect-footer                 { margin:0 -17px; padding:10px 17px; height:29px; color:#000; position:relative; font-family:sans-serif; background:#d1d1d1; text-transform:uppercase; }
.scroll-sect-footer ul              { margin:0; padding:0; margin-top:2px; }
.scroll-sect-footer li              { margin:0; padding:0; display:block; float:left; margin-left:5px; }
.scroll-sect-footer li a            { color:#fff; text-decoration:none; text-indent:-99999px; display:block; padding:5px 0; outline:0; /* Padding provides a larger click target. */ }
.scroll-sect-footer li a span       { background:#0138c5; display:block; width:20px; height:5px; }
.scroll-sect-footer li a:hover span { background:#fa1b16; }
.scroll-sect-footer li a.active span { background:#fa1b16; }
.scroll-sect-footer::after          { border:25px solid; border-color:transparent transparent #d1d1d1 transparent; content:""; display:block; width:0px; height:50px; position:absolute; top:-100px; left:15px; } 

.scroll-page                        { padding:100px 17px 0 0; width:875px; height:568px; float:left; margin-right:0px; overflow:hidden; }
.scroll-page-inner                  { margin:-100px -80px; padding:100px 80px; width:415px; height:368px; padding-right:380px; }

.scroll-page .white-text            { color:#fff; }
.scroll-page .white-text h1,
.scroll-page .white-text h2,
.scroll-page .white-text h3,
.scroll-page .white-text h4,
.scroll-page .white-text h5         { color:#fff; border-color:#fff; }

/* Content Layout light backgrounds - full width */

.content-left                       { width:282px; padding:0px; float:left; margin-left:14px; }
.content-left:first                 { margin-left:0px; }
.content-left-wide                  { width:578px; padding:0px; float:left; }
.content-right-wide                 { width:578px; padding:0px; float:right; }
.content-full-width                 { width:874px; padding:0px; }

/* Content Layout dark backgrounds - padded */
.content-padded                     { padding:0 14px 0 14px; }
.content-padded .content-left       { width:272px; padding:0px; float:left; margin-left:14px; }
.content-padded .content-left:first { margin-left:0px; }
.content-padded .content-left-wide  { width:554px; padding:0px; float:left; }
.content-padded .content-right-wide { width:554px; padding:0px; float:right; }
.content-padded .content-full-width { width:846px; padding:0px; }




.featured-pages                     { width:875px; position:absolute; top:284px; }
.featured-pages div.fl              { width:282px; height:224px; margin-bottom:9px; margin-left:11px; border:1px solid #000;}
.featured-title                     { width:263px; height:20px; position:relative; top:-286px; padding:22px 5px 22px 14px; }
.featured-title-background          { width:272px; height:20px; position:relative; top:-224px; background: #fff; opacity:0.5; padding: 22px 5px 22px 5px; }
.featured-pages img                 {  }
.featured-pages a                   { color:#333; font-family: 'Droid Serif',serif; }

.contactpage                        { background:#666; } /* border-top:13px solid black; } */
.contactpage div.fl                 { width:180px; margin:11px; color:#eee; }
.contactpage div.fl.social          { width:239px; margin-right:8px;}
.contactpage .location              { margin-bottom: 50px; }
.contactpage div.fl p               { margin: 0 0 0 0; }
.contactpage div.fl a               { display:block; }
.contactpage table                  { width:100%; }
.contactpage table.invisible td,
.contactpage table.invisible th     { padding:0 10px 0 0; }
.contactpage .social h3             { margin-top:3px; }
.contactpage #contact-form          { margin-bottom:30px; }
.contactpage input,
.contactpage textarea               { width:100%; margin:2px; resize:none; border:1px solid #000;}
.contactpage h2,
.contactpage h3                     { color:#ccc; }
.scroll-page .contactpage h2        { border-bottom:1px solid #000; }
.contactpage label                  { color:#000; }

.social h3                          { margin-bottom:9px; }
.social a                           { color:#000; font-weight:bold; }
.social a:hover                     { color:#00008F; }
.social a:active                    { color:#00aeff; }

/* message popup */
.messagepop                         { background-color: #fff; color:#808080; border:1px solid #000; 
                                      cursor:default; display:none; margin-top:15px; 
                                      position:absolute; left:160px; text-align:left; width:394px; z-index:50; 
                                      padding:25px 25px 20px;
                                      box-shadow:6px 6px 25px #444; 
                                      -moz-box-shadow:6px 6px 25px #444; 
                                      -webkit-box-shadow:6px 6px 25px #444; 
                                      border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px;
}


/* Page Layout exceptions */
div.homepage                        { padding-top:35px !important; }
div.linkspage .featured-pages       { top: 40px; }

/* Typography */
.scroll-page h2                     { padding-bottom:15px; border-bottom:1px solid #808080; }
.scroll-page ul li                  { list-style: inside; list-style-type: disc; }
.scroll-page ol li                  { list-style: inside; list-style-type: decimal; }
.scroll-page .pullquote             { width:35%; margin:0 0 0.5em 1em; float:right; clear:right; font-weight:bold; font-size:125%; }
.scroll-page .callout               { background:#eee; border-left:1em solid #ccc; clear:both; padding:1em; }
.scroll-page .discreet              { color:#666; font-size:85%; font-weight:normal; }
.scroll-page .visualHighlight       { background:#ffb; padding:2px; }
.scroll-page table th               { font-weight:bold; }
