/*#page-sidebar {left:10px;}*/

.featured-pages {position:relative; top:0px}

#page-channels      {height:25px;}
#page-channels li   { display:inline; float:left; }

.scroll-sect        { position:relative; }
.scroll-sect-footer LI A { text-transform:capitalize;line-height:0; text-indent:0; }
