/*
 * tcaa stylesheet
 */
body        {background: url(../images/cloud_bg.png);}
#wrapper    {width:1024px; margin-left:180px; }
#navigation {width:122px; float:left; display:inline; background:#00008c; padding:14px; color: #ffffff;}
#content    {width:710px; float:right; display:inline; margin-left:10px;}


#navigation a,
#navigation a:visited,
#navigation a:hover
            {color:#ffffff; text-decoration:none;}

